/* global styles */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #564f6f;
  font-family: sans-serif;
  color: #f3f2ff;
}

h1 {
  font-weight: 400;
}

/* header styles */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

/* navbar styles */

.navbar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  margin: 0px 5%;
  text-decoration: none;
  color: #f3f2ff;
}

.left-nav {
  width: 50%;
  padding: 0px 50px;
}

.right-nav {
  text-align: right;
  width: 50%;
  margin: 0px 20px;
}

/* body styles */

.main-container {
  position: relative;
  height: 80%;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  z-index: 2;
}

/* left hero styles */

.left-container {
  justify-self: right;
  width: 80%;
  font-size: 30px;
}

.hero-header {
  font-weight: 400;
}

.started-btn {
  font-size: 15px;
  text-decoration: none;
  border-radius: 5px;
  padding: 3%;
  background-color: #6c63fe;
  color: white;
  transition: all 0.5s;
}

.started-btn:hover {
  background-color: grey;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* right hero styles */

.right-container {
  justify-self: left;
  width: 100%;
}

.weather-svg {
  max-width: 100%;
}

/* background waves styles */

.wave-container {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

/* responsive styles */

@media only screen and (max-width: 800px) {
  .main-container {
    grid-template-areas:
      "weather-svg"
      "container";
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
  }

  .right-container {
    display: flex;
    justify-content: center;
    grid-area: weather-svg;
  }

  .left-container {
    grid-area: container;
    font-size: 20px;
    align-self: flex-start;
  }

  .weather-svg {
    max-height: 100%;
  }
}
